@media screen and (min-width: 1200px) {
  #links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #fox {
    border-radius: 20px;
    margin: auto;
    width: 50%;
  }
}
@media screen and (width < 1200px) {
  #links {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
  }
  #fox {
    border-radius: 20px;
    margin: auto;
    width: 90%;
  }
  textarea {
    width: 100%;
  }
}
#links {
  margin-bottom: 2%;
}
textarea {
  width: 50%;
  max-width: 95%;
}
#mine-text:hover{
  text-decoration: none;
}
#mine-text{
  font-family: title-font;
  font-size: 60px;
  display: table-cell;
  vertical-align: middle;
  color: white;
}
#outer{
  text-align: center; 
}
#mine{
  display: table;
  width: 100%;
  min-height: 500px;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
  background-image: url("../img/test.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}
button {
  background-color: var(--bg-light);
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 10px;
  cursor: pointer;
  color: var(--txt);
}
