@media screen and (min-width: 1200px) {
  #links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #fox {
    border-radius: 20px;
    margin: auto;
    width: 50%;
  }
}
@media screen and (width < 1200px) {
  #links {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
  }
  #fox {
    border-radius: 20px;
    margin: auto;
    width: 90%;
  }
  textarea {
    width: 100%;
  }
}
#links {
  margin-bottom: 2%;
}
textarea {
  width: 50%;
  max-width: 95%;
}
button {
  background-color: var(--bg-light);
  padding: 0.5% 1% 0.5% 1%;
  border-radius: 10px;
  cursor: pointer;
  color: var(--txt);
}
input,
textarea {
  border-radius: 5px;
}
#feedback {
  width: 100%;
  * {
    margin: auto;
  }
  margin-bottom: 2%;
}
/* .thanks {
  font-size: 18px;
  background-color: rgb(163, 226, 163);
  padding: 0.5% 1.5% 0.5% 0;
  border: 3px rgb(93, 143, 93) solid;
  border-radius: 15px;
  width: 30%;
  margin: 2%;
  text-align: center;
} */
#output {
  margin: auto;
  width: 80%;
}
#api * {
  /* width: 80%; */
  margin-top: 1%;
  text-align: center;
}